iOS/CHP-Mobil.xcodeproj/project.xcworkspace
iOS/CHP-Mobil.xcodeproj/xcuserdata/
.DS_Store

/CHP-Mobil.xcodeproj/project.xcworkspace/xcuserdata/yunuserenguzel.xcuserdatad/
/CHP-Mobil.xcodeproj/xcuserdata/yunuserenguzel.xcuserdatad/